
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment files
.env

# Playwright storage state
storageState.json

# Playwright reports & test artifacts
test-results/
allure-results/
allure-report/
playwright-report/
screenshots/
videos/

